<header class="contenedor">
    <div class="logo">
        <img
            src="/RMA - SVG.svg"
            alt="logo-red-medical-advisor"
            width="140"
            height="140"
        />
    </div>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/Clases">Clases</a>
        <a href="/Recursos">Recursos</a>
        <a href="/Foro">Foro</a>
        <a href="/Tutorias">Tutorias</a>
    </nav>
    <div class="login">
        <a class="in" href="/Login">
            Iniciar Sesion
        </a>
        <a class="reg" href="">
            Registrate
        </a>
    </div>
</header>

<style>
    .contenedor {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: 5rem;
        padding: 0rem 10rem;
        margin: auto;
    }
    .logo {
        display: flex;
        align-items: center;
        height: "120px";
    }
    .nav{
        display: inline-flex;
        align-items: center;
        justify-content: space-around; 
        margin-left: 6rem;
        gap: 3rem;
    }
    .nav a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;       
        padding: 4px 14px;
    }
    a {
        text-decoration: none;
    }
    .login {
        display: flex;
    }
    .in {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        height: 2.5rem;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        transition: background-color 0.5s;        
        border: 1px solid #d1d5db;
        margin-right: 8px;
        padding: 0rem 1rem;
    }
    .reg {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        height: 2.5rem;
        border-radius: 8px;
        background-color: #ff3131;;
        padding: 0rem 1rem;
        transition: background 0.5s;        
        color: white;
    }

    .in:focus-visible {
        outline: 2px solid #5a67d8; 
        outline-offset: 2px;
    }

    .in:disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .in:hover {
        background-color: #e2e8f0; 
        color: #482d2d; 
    }
    .reg:hover{
        background-color: #a72020;;
    }

    .nav a:after,
    .nav a:before {
        content: "";
        position: absolute;
        display: block;
        border: 0px solid transparent;
    }
    .nav a:after {
        width: 0%;
        height: 80%;
        border-bottom: 1px solid #000000;
        transition: all 0.6s ease;
        
        color: #961c1c;
    }

    .nav a:before {
        width: 120%;
        height: 0%;
        transition: all 0.6s ease;
    }

    .nav a:hover::before {
        height: 80%;
    }

    .nav a:hover::after {
        width: 100%;
    }
</style>
