---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;

---

<div class="clase">
    <iframe src={href} allowfullscreen></iframe>
    <h1 class="titulo">{title}</h1>
    <p class="desc">{body}</p>
    <a href={href}>Ver ahora</a>
</div>

<style>
    .clase{
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .video-grid-item iframe {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .titulo{
        padding: 0rem 1rem 0rem 1rem;        
    }
    .desc{
        padding: 1rem;
    }
    
</style>